body, #surveybody {
    background-image: url("./photos/background.jpg");
    background-size: 25%;
    background-repeat: repeat;
}
a {
    color: black;
}
.modal-body {
    background-color: #0097cc;
}
#header, #footer {
    background-color: #fff176;
}
#header {
    text-align: center;
    border-bottom: darkslategray solid;
}
#footer {
    text-align: right;
    border-top: darkslategray solid;
}
.modal-body, .modal-header, .modal-footer {
    text-align: center;
}
.modal-header {
    text-align: center;
    border-bottom: #fff176 solid;
}
.modal-footer {
    border-top: #fff176 solid;
    background-color: darkslategray;
}

.card-header, .modal-header {
    background-color: darkslategray;
    border-bottom: #fff176 solid;
    color: white;
}
.card-body {
    background-color: whitesmoke;
}
.btn {
    background-color:#fff176;
    color: black;
    border: darkslategray solid 1px;
}
.btn-info:hover {
    background-color: #ffffa8;
    color: black;
}
.apilink {
    text-align: right;
}
img {
    image-orientation: from-image;
}